/SistemaDeInventario/.vs
/SistemaDeInventario/.vs
/SistemaDeInventario/.vs
SistemaDeInventario/.vs/SistemaDeInventario/copilot-chat/efbc30a5/sessions/d7076cb6-7b43-434f-84f5-d3203a378b7b
SistemaDeInventario/.vs/SistemaDeInventario/FileContentIndex/23aac842-9f74-4fe2-9f59-ed097520723c.vsidx
SistemaDeInventario/.vs/SistemaDeInventario/FileContentIndex/90b8b5ee-f7e6-4f08-afd4-65ed2a86ffc6.vsidx
SistemaDeInventario/.vs/SistemaDeInventario/FileContentIndex/913b2384-e30f-462d-bce0-0b9462112c48.vsidx
